<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .tax-info {
    display: none;
  }

  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
  }
  .quote-class {
    display: flex;
    align-items: center;
    height: 150px;
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
  }
  .super-class {
    display: flex;
    justify-content: center;
  }
  .filter-btns {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0px;
    border-radius: 5px;
    align-items: center;
    margin-left: 1rem;
  }
  .filter-btns:hover {
    background-color: rgb(254, 17, 17);
    color: rgb(255, 255, 255) !important;
  }
  .filter-btn-div {
    margin-top: 12px;
  }
  .filter-btn-div:hover {
    margin-top: 12px;
    color: white;
  }
  .form {
    margin-top: 5px;
    margin-bottom: 3px;
  }
  .rescuerA {
    text-decoration: none;
    color: black;
  }
  @import url(https://fonts.googleapis.com/css?family=Khula:700);
  body {
    background: white;
  }
  .hidden {
    opacity: 0;
  }
  .console-container {
    font-family: Khula !important;
    font-size: 1.3em;
    text-align: center;
    height: 100px;
    width: 700px;
    display: block;
    color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
  }
</style>

<% layout("/layouts/boilerplate") %>
<div id="filters">
  <form class="form" action="">
    <button type="button" class="filter-btns" data-query="iit-jee">
      <a class="rescuerA" href="/listings?q=iit-jee">
        <div class="filter-btn-div">
          <i class="fa-solid fa-atom"></i>
          <p class="insideBtn">IIT-JEE</p>
        </div>
      </a>
    </button>
    <button type="button" class="filter-btns" data-query="neet">
      <a class="rescuerA" href="/listings?q=neet">
        <div class="filter-btn-div">
          <i class="fa-solid fa-capsules"></i>
          <p class="insideBtn">NEET</p>
        </div>
      </a>
    </button>
    <button type="button" class="filter-btns" data-query="upsc">
      <a class="rescuerA" href="/listings?q=upsc">
        <div class="filter-btn-div">
          <i class="fa-solid fa-person-military-rifle"></i>
          <p>UPSC</p>
        </div>
      </a>
    </button>
    <button type="button" class="filter-btns" data-query="gate">
      <a class="rescuerA" href="/listings?q=gate">
        <div class="filter-btn-div">
          <i class="fa-solid fa-gears"></i>
          <p>GATE</p>
        </div>
      </a>
    </button>
    <button type="button" class="filter-btns" data-query="xii-science">
      <a class="rescuerA" href="/listings?q=12science">
        <div class="filter-btn-div">
          <i class="fa-solid fa-1"></i><i class="fa-solid fa-2"></i> S
          <p>XII-Science</p>
        </div>
      </a>
    </button>
    <button type="button" class="filter-btns" data-query="gre">
      <a class="rescuerA" href="/listings?q=gre">
        <div class="filter-btn-div">
          <i class="fa-solid fa-earth-americas"></i>
          <p>GRE</p>
        </div>
      </a>
    </button>
    <button type="button" class="filter-btns" data-query="engineering">
      <a class="rescuerA" href="/listings?q=engineering">
        <div class="filter-btn-div">
          <i class="fa-solid fa-rocket"></i>
          <p>Engineering</p>
        </div>
      </a>
    </button>
    <button type="button" class="filter-btns" data-query="languages">
      <a class="rescuerA" href="/listings?q=languages">
        <div class="filter-btn-div">
          <i class="fa-solid fa-om"></i>
          <p>Languages</p>
        </div>
      </a>
    </button>
    <button type="button" class="filter-btns" data-query="ca">
      <a class="rescuerA" href="/listings?q=ca">
        <div class="filter-btn-div">
          <i class="fa-solid fa-receipt"></i>
          <p>CA</p>
        </div>
      </a>
    </button>
    <button type="button" class="filter-btns" data-query="xii-commerce">
      <a class="rescuerA" href="/listings?q=12commerce">
        <div class="filter-btn-div">
          <i class="fa-solid fa-1"></i><i class="fa-solid fa-2"></i> C
          <p>XII-Commerce</p>
        </div>
      </a>
    </button>
  </form>
</div>

<div class="console-container" style="font-family: khula">
  <span id="text"></span>
  <div class="console-underscore" id="console">&#95;</div>
</div>

<div class="row rows-cols-lg-3 rows-cols-md-2 rows-cols-sm-1">
  <h1><%=exam%></h1>
  <% for(let listing of allListings){ %> <% if(exam && listing.hashtag === exam)
  { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %> <br /></b>
          &#8377;<%= listing.price.toLocaleString("en-IN") %>
          <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } else if (!exam) { %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing_image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %> <br /></b>
          &#8377;<%= listing.price.toLocaleString("en-IN") %>
          <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
          <%= listing.hashtag %>
        </p>
      </div>
    </div>
  </a>
  <% } %> <% } %>
</div>

<script>
  consoleText(
    [
      "Every year, over 320 million books are recycled, losing valuable knowledge. Vidhya Balam promotes redistributing these books to preserve their wisdom!",
      "Made With Love <3",
    ],
    "text",
    ["tomato", "lightblue"]
  );

  function consoleText(words, id, colors) {
    if (colors === undefined) colors = ["#fff"];
    var visible = true;
    var con = document.getElementById("console");
    var letterCount = 1;
    var x = 1;
    var waiting = false;
    var target = document.getElementById(id);
    target.setAttribute("style", "color:" + colors[0]);
    window.setInterval(function () {
      if (letterCount === 0 && waiting === false) {
        waiting = true;
        target.innerHTML = words[0].substring(0, letterCount);
        window.setTimeout(function () {
          var usedColor = colors.shift();
          colors.push(usedColor);
          var usedWord = words.shift();
          words.push(usedWord);
          x = 1;
          target.setAttribute("style", "color:" + colors[0]);
          letterCount += x;
          waiting = false;
        }, 1000);
      } else if (letterCount === words[0].length + 1 && waiting === false) {
        waiting = true;
        window.setTimeout(function () {
          x = -1;
          letterCount += x;
          waiting = false;
        }, 1000);
      } else if (waiting === false) {
        target.innerHTML = words[0].substring(0, letterCount);
        letterCount += x;
      }
    }, 50);
    window.setInterval(function () {
      if (visible === true) {
        con.className = "console-underscore hidden";
        visible = false;
      } else {
        con.className = "console-underscore";

        visible = true;
      }
    }, 100);
  }
  let taxSwitch = document.getElementById("flexSwitchCheckReverse");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline"; // changes none to inline;
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
